Flask
requests
pylint
gunicorn
opentracing
opentracing-instrumentation              
Flask-OpenTracing              
Flask-PyMongo              
jaeger-client 
prometheus-client                         
prometheus-flask-exporter